<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC  
    "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 扫描 -->
	<typeAliases>
		<typeAlias type="java.util.LinkedHashMap" alias="linkedhashmap" />
		<typeAlias type="java.util.List" alias="list" />
		<package name="com.test.model" />
	</typeAliases>
</configuration>  